/* CSS code in style.css file */
body {
  background-color: #000; /* Black background color */
}

nav {
  background-color: #000;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #0ff; /* Cyan text color */
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0ff; /* Cyan button color */
  transition: background-color 0.2s ease-in-out;
}

nav a:hover {
  background-color: #00ffff; /* Lighter cyan color on hover */
}

h2 {
  color: #0ff; /* Cyan heading color */
  text-align: center;
}

p {
  color: #fff; /* White text color */
  text-align: center;
}

#team-members ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#team-members li {
  margin-bottom: 10px;
}
